.searchBarContainer{
    width: 100%;
    text-align:center;
}
.searchBar{
    margin: 0 auto;
    margin: 48px;
    width: 40%;
    display: inline-block;
    transition:ease-in 0.2s;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px #888888;
    padding: 10px;
}
.searchBar:hover{
    background-color:rgba(227, 227, 233, 0.74);
}
